.Pokemon-card {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    margin-top: 2rem;
    width: 150px;
    text-align: center;
}
.name {
    font-size: 26px;
    font-weight: bold;
    text-align: center;
    letter-spacing: 0.3rem;
}    
.img :hover{
    background-color: #d9d6d6;
}